@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the 67215 session!</h1>
    <p>Learn how to build web apps with ASP.NET Core MVC, Razor Pages, and Entity Framework Core.</p>
</div>
